<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinghuan.mars.repository.UserRepository">

    <resultMap id="BaseResultMap" type="com.xinghuan.mars.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="real_name" jdbcType="VARCHAR" property="realName" />
    </resultMap>

    <select id="getUserById" resultMap="BaseResultMap">
        select * from user where id = #{id}
    </select>

</mapper>
